.landing {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url('https://i.pinimg.com/originals/0c/94/1d/0c941d8e13f5c6560d94b9d9a1b24094.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    position: fixed;
    top: 0;
    left: 0; 
    width: 100%;
    height: 100%; 
  }
 
  .button {
    padding: 0.6em 2em;
    border: none;
    outline: none;
    color: rgb(255, 255, 255);
    background: #111;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 3px;
  }
  
  .button:before {
    content: "";
    background: linear-gradient(
      60deg,
      #ff0000,
      #ff7300,
      #fffb00,
      #48ff00,
      #00ffd5,
      #002bff,
      #7a00ff,
      #ff00c8,
      #ff0000
    );
    position: absolute;
    top: -2px;
    left: -2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowbutton 20s linear infinite;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    border-radius: 10px;
  }
  
  @keyframes glowbutton {
    0% {
      background-position: 0 0;
    }
    50% {
      background-position: 400% 0;
    }
    100% {
      background-position: 0 0;
    }
  }
  
  .button:active {
    color: #000;
  }
  
  .button:active:after {
    background: transparent;
  }
  
  .button:hover:before {
    opacity: 1;
  }
  
  .button:after {
    z-index: -1;
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: #625555;
    left: 0;
    top: 0;
    border-radius: 2px;
  }
  
  .button {
    transition: opacity 0.3s ease-in-out, transform 0.2s ease-in-out;
  }
  
  .button:hover {
    opacity: 0.8;
    transform: scale(1.1);
  }
  
  @media only screen and (max-width: 768px) {
    /* Estilos específicos para pantallas más pequeñas */
    .landing {
      font-size: 14px;
      height: 100%;
    }
  }
 